api/config.local.php
api/admin_settings.json
api/location-settings.json
api/original-access-settings.json
/config.php
uploads/*
!uploads/.gitkeep
!uploads/.htaccess
.vscode/
node_modules/
.DS_Store
upload*.txt
assets/images/logo.svg
assets/images/ogp.png
